asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.1
django-multiselectfield==0.1.13
django-pagarme==0.26
django-phonenumber-field==8.0.0
idna==3.10
pagarme-python==5.9.0
phonenumberslite==8.13.51
pillow==10.4.0
psycopg2-binary==2.9.9
requests==2.32.3
sqlparse==0.5.1
urllib3==2.2.3
