{% extends "layout.html" %}

{% block title %}
Recuperar senha
{% endblock title%}

{% block content %}
<div class="main" id="main">
    <main id="content-start" class="content" tabindex="-1">
      <!-- Content -->
    <div id="content" class="colM">
        <h1>Recuperar senha</h1>
        <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    <div class="flex-container">
                        <label for="id_email">Endereço de email:</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Reinicializar minha senha">
            </div>
        </form>
        <br class="clear">
    </div>
      <!-- END Content -->
    </main>
</div>
{% endblock content %}