{% extends "layout.html" %}

{% block title %}
Digite a nova senha
{% endblock title %}

{% block content %}
    <main id="content-start" class="content" tabindex="-1">
        <div id="content" class="colM">
            <h1>Digite a nova senha</h1>
            <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <input class="hidden" autocomplete="username" value="daniuser" style="display: none">
                    <div class="form-row field-password1">
                        <div class="flex-container">
                            <label for="id_new_password1">Nova senha:</label>
                            <input type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1">
                        </div>
                    </div>
                    <div class="form-row field-password2">
                        <div class="flex-container">
                            <label for="id_new_password2">Confirme a senha:</label>
                            <input type="password" name="new_password2" autocomplete="new-password" aria-describedby="id_new_password2_helptext" id="id_new_password2">
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Alterar minha senha">
                </div>
            </form>
            <br class="clear">
        </div>
    </main>
{% endblock content %}