{% extends 'layout.html' %}

{% load static %}

{% block title %}
Seu perfil
{% endblock %}

{% block content %}
    {% if user.username == profile.username %}
        <h1>Seu perfil</h1>
        <p>Nome Cadastrado: {{profile.name}}</p>
        {% else %}
        <h1>{{profile.name}}</h1>
    {% endif %}
    <p>Nome de Usuário: {{profile.username}}</p>
    <p>Email: {{profile.email}}</p>
    {% if user.username == profile.username %}
        <a href="{% url "updateUser" %}">Update profile</a>
        <button id="btnDelete" class="form-submit">Excluir Conta</button>

        <div class="modalDelete modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Tem certeza que deseja excluir sua conta?</p>
                <div class="modal-footer">
                    <button id="deleteCancel" class="form-submit">Cancelar</button>
                    <button id="deleteConfirm" data-delete-url="{% url 'deleteUser' %}" class="form-submit">Excluir</button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/confirm_delete.js' %}"></script>
    {% endif %}
{% endblock %}