{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>Login with user</h1>
<form class="form" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}"/>
    {% endif %}
    <button class="form-submit">Submit</button>
</form>

<button onclick="redirect()" class="form-submit">Register</button>
<script>
    function redirect(){
        const nextUrl = new URL(window.location.href);
        const next = nextUrl.searchParams.get('next');
        if(next){
            window.location.href = '/user/register/?next=' + encodeURIComponent(next);
        } else {
            window.location.href = '/user/register/'
        }
    }
</script>
{% endblock %}