SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"
PAGSEGURO_SANDBOX="1"
MELHOR_ENVIO_SANDBOX="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

PORT="8000"

DATABASE_URL="CHANGE-ME"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_HOST_USER="CHANGE-ME"
EMAIL_HOST_PASSWORD="CHANGE-ME"
DEFAULT_FROM_EMAIL="CHANGE-ME"

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_URL="CHANGE-ME"

PAGSEGURO_EMAIL="CHANGE-ME"
PAGSEGURO_TOKEN="CHANGE-ME"

MELHOR_ENVIO_ID="CHANGE-ME"
MELHOR_ENVIO_SECRET="CHANGE-ME"
MELHOR_ENVIO_SANDBOX_ID="CHANGE-ME"
MELHOR_ENVIO_SANDBOX_SECRET="CHANGE-ME"

CLOUDINARY_CLOUD_NAME="CHANGE-ME"
CLOUDINARY_API_KEY="CHANGE-ME"
CLOUDINARY_API_SECRET="CHANGE-ME"

NGROK_URL="CHANGE-ME"

ADMIN_NAME="CHANGE-ME"
ADMIN_CPF="CHANGE-ME"
ADMIN_CNPJ="CHANGE-ME"
ADMIN_STATE_REGISTER="CHANGE-ME"
ADMIN_EMAIL="CHANGE-ME"
ADMIN_PHONE="CHANGE-ME"
ADMIN_ADDRESS="CHANGE-ME"
ADMIN_COMPLEMENT="CHANGE-ME"
ADMIN_HOME_NUMBER="CHANGE-ME"
ADMIN_DISTRICT="CHANGE-ME"
ADMIN_CITY="CHANGE-ME"
ADMIN_UF="CHANGE-ME"
ADMIN_COUNTRY="CHANGE-ME"
ADMIN_CEP="CHANGE-ME"
