* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    color: black;
    font-size: 1rem;
}

nav {
    padding: 0.5rem;
    background-color: #f3e1e9;
    color: #008a52;
    font-size: 1rem;
    display: flex;
}

nav a {
    margin: 0.5rem;
}

#sec_logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

main {
    padding: 2rem;
    margin: 0 auto;
}

h1{
    color: #bf5b87;
}

a {
    text-decoration: none;
    color: #bf5b87;
}

a:hover {
    opacity: .85;
}