* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    color: black;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 0.5rem;
    background-color: #f3e1e9;
    color: #008a52;
    font-size: 2rem;
}

#sec_logo {
    margin: 0;
    padding: 0;
    width: 10%;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

h1 {
    color: #bf5b87;
}

a {
    text-decoration: none;
    color: #bf5b87;
}

a:hover {
    opacity: .85;
}