{% extends "layout.html" %}
{% load static %}



{% block title %}
    Confirmar compra
{% endblock title %}

{% block content %}
    <h1>Opções de frete</h1>
    <table class="freight_confirm">
        <tr>
            <th></th>
            <th>Transportadora</th>
            <th>Opção</th>
            <th>Preço</th>
            <th>Tempo para entrega</th>
        </tr>
        {% for option in freight %}
                <tr>
                    <td><input type="radio" name="freight_options" value="{{option.name}}" data-id={{option.id}}></td>
                    <td>{{option.company.name}}</td>
                    <td>{{option.name}}</td>
                    <td id="{{option.name}}">{{option.currency}}{{option.price}}</td>
                    <td>{{option.delivery_range.min}} a {{option.delivery_range.max}} dias úteis</td>
                </tr>
        {% endfor %}
    </table>
    <input type="hidden" id="data" data-user="{{user.username}}">
    <button id='finishPurchase'>Finalizar compra</button>
    <script src="{% static 'src/js/finish_purchase.js' %}"></script>
{% endblock content %}
