{% extends "layout.html" %}

{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    <input type="hidden" id="data" data-con="{{cartUser.username}}" data-user="{{user.username}}" data-debug="{{debug}}">
    <input type="hidden" name="add" id="btnAddCart">
    <h1>Cart Page</h1>
    <p>{{cartUser.name}}</p>
    <section id="mainCartPage">
        <div id="cartTable">
            {% if items %}
                <h2>Produtos</h2>
                <table class="cart-product-table">
                    <thead>
                        <td>Produto</td>
                        <td>Quantidade</td>
                        <td>Preço</td>
                        <td>Data de adição</td>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{item.product.name}}</td>
                            <td><input type="number" id="{{item.pk}}" class="quantityInput" placeholder="quantidade" value={{item.quantity}} min="1"></td>
                            <td>R${{item.fullPrice}}</td>
                            <td>{{item.datetime}}</td>
                            <td><a href="{% url 'products:page' item.product.slug %}">Página do Produto</a></td>
                            <td><a href="{% url 'cart:deleteItem' item.pk %}">Deletar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <p>Número de produtos: {{cart.products}}</p>
            <p>Preço total: R${{cart.fullPrice}}</p>
        </div>
        <div id="chat">
            <div id="messages"></div>
            <input type="text"id="message-input" autofocus>
            <button id="send-message">Enviar</button>
        </div>
    </section>
    {% if cartUser.username == user.username %}
       <a href="{% url "cart:confirm" user.username %}">Finalizar pedido</a>
    {% endif %}
    <script src="{% static 'js/set_quantity.js' %}"></script>
    <script src="{% static "js/websocket.js" %}"></script>
{% endblock content %}