{% extends "layout.html" %}

{% block title %}
Coleções
{% endblock title %}

{% block content %}
<section>
    <h1>Coleções</h1>
    {% if not empty %}
        {% for tag in tags %}
            {% if tag.numProducts > 0 and tag.name != 'all' %}
                <a href="{% url "products:list" tag.name %}">{{tag.name}}</a>
                <p>Número de produtos: {{tag.numProducts}}</p>
                <p>Última atualização: {{tag.lastChanged}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</section>
{% endblock content %}