{% extends 'layout.html' %}

{% load static %}

{% block title%}
    Produtos
{% endblock %}

{% block content%}
    <section>
        <h1>Produtos</h1>
        <div class="dropdown">
            <button class="dropButton">Filtros</button>
            <div id="myDropdown" class="dropdownContent">
                <h4>Tags</h4>
                <label for="all" class='tag-checkbox'>
                    {% if actual == 'all' %}
                        <input type="checkbox" name='all' id='tag-all' class='checkbox-input' checked>
                    {% else %}
                        <input type="checkbox" name='all' id='tag-all' class='checkbox-input'>
                    {% endif %}
                    <span class="checkmark"></span>
                    Todos
                </label>
                {% for tag in tags %}
                    <label for="{{tag.name}}" class='tag-checkbox'>
                        {% if tag.name == actual  or actual == 'all' %}
                            <input type="checkbox" name="{{tag.name}}" id="tag-{{tag.name}}" class="checkbox-input" checked>
                        {% else %}
                            <input type="checkbox" name="{{tag.name}}" id="tag-{{tag.name}}" class="checkbox-input">
                        {% endif %}
                        <span class="checkmark"></span>
                        {{tag.name}}
                    </label>
                    {% endfor %}
                    <div id="prices">
                        <input type="number" id="lowerPrice" default=0 placeholder="Preço Mínimo">
                        <input type="number" id="upperPrice" default=1000 placeholder="Preço Máximo">
                    </div>
                <label for="stockAvaliable">
                    <input type="checkbox" name="Pronta Entrega" id="stockAvaliable">
                    <span class="checkmark"></span>
                    Pronta Entrega
                </label>
                <button onclick="filter()">Filtrar</button>
            </div>
          </div>
        <ul id="products_avaliable">
        {% for product in products %}
            <article>
                <a href="{% url "products:page" product.slug %}">{{product.name}}</a>
                <p>R${{product.price}}</p>
            </article>
        {% endfor %}
        </ul>
    </section>
    <script src="{% static "js/products_list.js" %}"></script>
{% endblock%}
