{% extends 'layout.html' %}

{% load django_vite %}

{% block title%}
    {{product.name}}
{% endblock %}

{% block content%}
    {% if user.is_authenticated %}
        <input type="hidden" name="auth" id="auth" data-auth="True" data-user={{user.username}} data-page="page">
    {% else %}
        <input type="hidden" name="auth" id="auth" data-auth="False">
    {% endif %}
    <p style="display:none;" data-size={{product.size}} data-slug={{product.slug}} data-auth={{user.is_authenticated}} id="data"></p>
    <section>
        <h1>{{product.page}}</h1>
        <div class="carousel my-5">
            <div id="carouselExampleControls" class="carousel slide" data-rs-ride="carousel">
                <div class="carousel-inner" id="photo-carousel"></div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" id="prev-photo-button">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" id="next-photo-button">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>

        <h2>{{ product.name }}</h2>
        <p>Descrição: <br>{{ product.desc }}</p>
        <p>Preço: R${{ product.price }}</p>
        <p>Tags:</p>
        <ul>
        {% for tag in product.tags.all %}
            {% if tag.name != 'all' %}
                <li>{{tag.name}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if product.size == 'set' %}
            <p>INFORMAR O TAMANHO NO ATO DA COMPRA</p>
        {% endif %}
    </section>
    {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'products:update' product.slug %}" class="form-submit">Atualizar Produto</a>
        <a id="btnDelete" class="form-submit">Excluir Produto</a>

        <div class="modalDelete modal">
            <div class="modal-content">
                <span class="close">×</span>
                <p>Tem certeza que deseja excluir esse produto?</p>
                <div class="modal-footer">
                    <button id="deleteCancel" class="form-submit">Cancelar</button>
                    <button id="deleteConfirm" data-delete-url="{% url 'products:delete' product.slug %}" class="form-submit">Excluir</button>
                </div>
            </div>
        </div>
        {% vite_asset 'src/js/confirm_delete.js' %}
    {% else %}
        <button class="form-submit" id="btnAddCart" data-slug="{{product.slug}}">Adicionar ao carrinho</button>
        {% vite_asset "src/js/product_page.js" %}
    {% endif %}

    {% vite_asset "src/js/product_photo_carousel.js" %}
{% endblock%}
