{% extends 'layout.html' %}

{% load static %}

{% block title%}
    {{product.page}}
{% endblock %}

{% block content%}
    <section>
        <h1>{{product.page}}</h1>
            {% for image in product.photos.all %}
                <img src="{{image.photo.url}}" alt="{{image.label}}"/>
            {% endfor %}
            <h2>{{ product.name }}</h2>
            <p>Descrição: <br>{{ product.desc }}</p>
            <p>Preço: R${{ product.price }}</p>
            <p>Tags:</p>
            <ul>
            {% for tag in product.tags.all %}
                <li>{{tag.name}}</li>
            {% endfor %}
            </ul>
    </section>

    {% if user.is_superuser %}
    <a href="{% url 'products:update' product.slug%}">Atualizar Produto</a>
    <button id="btnDelete" class="form-submit">Excluir Produto</button>

    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Tem certeza que deseja excluir esse produto?</p>
            <div class="modal-footer">
                <button id="btnCancel" class="form-submit">Cancelar</button>
                <button id="btnConfirm" data-delete-url="{% url 'products:delete' product.slug %}" class="form-submit">Excluir</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/confirm_delete.js' %}"></script>
    {% endif %}

{% endblock%}
