{% extends 'layout.html' %}

{% load static %}

{% block title%}
    {{product.name}}
{% endblock %}

{% block content%}
    {% if user.is_authenticated %}
        <input type="hidden" name="auth" id="auth" data-auth="True" data-user={{user.username}}>
    {% else %}
        <input type="hidden" name="auth" id="auth" data-auth="False">
    {% endif %}
    <p style="display:none;" data-size={{product.size}} data-slug={{product.slug}} data-auth={{user.is_authenticated}} id="data"></p>
    <section>
        <h1>{{product.page}}</h1>
            {% for image in product.photos.all %}
                <img src="{{image.photo.url}}" alt="{{image.label}}" class="product_photo"/>
            {% endfor %}
            <h2>{{ product.name }}</h2>
            <p>Descrição: <br>{{ product.desc }}</p>
            <p>Preço: R${{ product.price }}</p>
            <p>Tags:</p>
            <ul>
            {% for tag in product.tags.all %}
                <li>{{tag.name}}</li>
            {% endfor %}
            </ul>
            {% if product.size == 'set' %}
                <p>INFORMAR O TAMANHO NO ATO DA COMPRA</p>
            {% endif %}
    </section>
    {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'products:update' product.slug %}" class="form-submit">Atualizar Produto</a>
        <a id="btnDelete" class="form-submit">Excluir Produto</a>

        <div class="modalDelete modal">
            <div class="modal-content">
                <span class="close">×</span>
                <p>Tem certeza que deseja excluir esse produto?</p>
                <div class="modal-footer">
                    <button id="deleteCancel" class="form-submit">Cancelar</button>
                    <button id="deleteConfirm" data-delete-url="{% url 'products:delete' product.slug %}" class="form-submit">Excluir</button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/confirm_delete.js' %}"></script>
    {% else %}
        <input type="number" id="quantityInput" placeholder="quantidade">
        <button class="form-submit" id="btnAddCart" data-slug="{{product.slug}}">Adicionar ao carrinho</button>
        <script src="{% static "js/product_page.js" %}"></script>
    {% endif %}
{% endblock%}